language: python
sudo: false # use container based build
notifications:
  email: false

matrix:
  include:
  - python: 2.7
    env: H5PY_VERSION="=2.4"
  - python: 3.4
  - python: 3.5
  - python: 2.7
    env: H5PY_VERSION="=2.1"
  allow_failures:
  - python: 2.7
    env: H5PY_VERSION="=2.1"

before_install:
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget http://repo.continuum.io/miniconda/Miniconda-3.7.3-Linux-x86_64.sh -O miniconda.sh;
    else
      wget http://repo.continuum.io/miniconda/Miniconda3-3.7.3-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda info -a

install:
  - conda create --yes -n test_env python=$TRAVIS_PYTHON_VERSION pip pytest h5py$H5PY_VERSION cython netCDF4
  - source activate test_env
  - python setup.py install

script:
  - py.test -v
